.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  width: 100%;
}
.user-component__avator {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.user-component__title {
  margin-bottom: 10px;
  font-size: 30px;
  margin-left: 5px;
  padding-left: 14px;
}

.user-component__subtitle {
  padding-left: 20px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
}

.user-component__chat-title {
  font-size: 25px;
  margin-left: 5px;
  padding-left: 14px;
  margin-top: 5px;
}

.user-component__column-time-badge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 13px;
}

.time-column {
  margin-right: 10px;
  font-size: 15px;
  opacity: 0.35;
}

.user-component__avator--sm {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.user-component__sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.user-component__column2 {
  margin-bottom: 10px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.5);
}
